<h1>Create a sub</h1>
<form action="/subs" method="POST">
    <%= auth_token %>
    <label>Title
        <input type="text" name="sub[title]">
    </label>
    <label>Description
        <input type="text" name="sub[description]">
    </label>
    <button>Create sub</button>
</form>