body, figure, aside, section, figure, ol, ul, li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

/* {
  list-style: none;
}

ol li {
  list-style: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

ul li {
  margin: 0;
  padding: 0;
  border: none;
}

/* h1, h2, a, li, option {
  font: inherit
} */ */

body {
  line-height: 1.5;
}

img {
  width: 100%
}